<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container mt-5" th:fragment="contentInit">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <h2 class="tm-block-title">List Accounts</h2>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table" id="accounts-table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Account ID</th>
                            <th scope="col">Merchant ID</th>
                            <th scope="col">Role ID</th>
                            <th scope="col">Name</th>

                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Account Image</th>
                            <th scope="col">Banner Image</th>

                            <th scope="col">Active</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account:${accountList}">
                            <th scope="row" th:text="${account.id}"><input type="checkbox"/>
                            <td class="tm-product-name" th:text="${account.account_id}">
                            <td th:text="${account.merchant_id}">
                            <td th:text="${account.role_id}">
                            <td th:text="${account.name}">

                            <td th:text="${account.email}">
                            <td th:text="${account.phone}">
                            <td th:text="${account.address}">
                            <td th:text="${account.account_img}">
                            <td th:text="${account.banner_img}">
                            <td th:text="${account.active}">
                            <td>
                                <a th:href="@{'/update-account-form/' + ${account.id}}" class="tm-product-update-link">
                                    <i class="far fa-edit tm-product-update-icon">
                                    </i>
                                </a>
                                <a th:href="@{'/delete-account/' + ${account.id}}" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary btn-block text-uppercase" id="createNewAccount"
                   th:href="@{/create-account-form}">
                    Create new account
                </a>
            </div>
        </div>
    </div>
</div>
