<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container mt-5" th:fragment="contentInit">
    <div class="row tm-content-row">
        <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                <h2 class="tm-block-title">Change Avatar</h2>
                <div class="tm-avatar-container">
                    <img th:src="@{/static/dist/img/avatar.png}" alt="Avatar" class="tm-avatar img-fluid mb-4" />
                    <a href="#" class="tm-avatar-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                </div>
                <input id="fileInput" type="file" style="display:none;" />
                <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                       onclick="document.getElementById('fileInput').click();" />
            </div>
        </div>
        <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
                <h2 class="tm-block-title">Account Info</h2>
                <form th:action="@{/create-account}" method="post" class="tm-signup-form row" th:object="${accountDTO}">
                    <div class="form-group col-lg-6">
                        <label for="name">Account Name</label>
                        <input type="hidden" th:field="*{id}" />
                        <input th:field="*{accountName}" id="name" name="name" type="text" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('accountName')}" class="error" th:errors="*{accountName}" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="email">Email</label>
                        <input th:field="*{accountEmail}" id="email" name="email" type="email" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('accountEmail')}" class="error" th:errors="*{accountEmail}" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="phone">Phone</label>
                        <input th:field="*{phone}" id="phone" name="phone" type="tel" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('phone')}" class="error" th:errors="*{phone}" />
                    </div>
                    <div class="form-group col-12">
                        <label for="address">Address</label>
                        <input th:field="*{address}" id="address" name="address" type="address" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('address')}" class="error" th:errors="*{address}" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="role">Role</label>
                        <select class="custom-select tm-select-accounts" id="role">
                            <option selected>Select role</option>
                            <option value="1">Merchant</option>
                            <option value="2">Admin</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="accountImage">Account Image</label>
                        <input th:field="*{accountImg}" id="accountImage" name="accountImage" type="text" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('accountImg')}" class="error" th:errors="*{accountImg}" />
                    </div>
                    <div class="form-group col-12">
                        <label for="BannerImage">Banner Image</label>
                        <input th:field="*{bannerImg}" id="BannerImage" name="BannerImage" type="text" class="form-control validate" />
                        <p th:if="${#fields.hasErrors('bannerImg')}" class="error" th:errors="*{bannerImg}" />
                    </div>
                    <div class="form-group col-12">
                        <label for="Active">Active</label>
                        <input th:field="*{active}" id="Active" name="Active" type="text" class="form-control validate"/>
                        <p th:if="${#fields.hasErrors('active')}" class="error" th:errors="*{active}" />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase" >
                            CREATE ACCOUNT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
