<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mt-5" id="container" th:fragment="contentInit">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products tm-block-h-auto">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table display" id="news-table">
                        <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">PUSH CODE</th>
                            <th scope="col">PUSH DATE</th>
                            <th scope="col">ACCOUNT NAME</th>
                            <th scope="col">EXPIRED DATE</th>
                            <th scope="col">PRODUCT NAME</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="news:${news}">
                            <th scope="row" th:text="${news.id}"><input type="checkbox" /></th>
                            <td th:text="${news.pushCode}"/>
                            <td th:text="${news.pushDate}"/>
                            <td class="tm-user-name" th:text="${news.accountId}"/>
                            <td th:text="${news.expiredDate}"/>
                            <td th:text="${news.product.productName}"/>
                            <td>
                                <a th:href="@{'/delete-news/' + ${news.id}}" class="tm-product-update-link">
                                    <i class="fas fa-arrow-up tm-product-update-icon"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>