<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="col-12 tm-block-col" th:fragment="contentInit">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
        <h2 class="tm-block-title">Orders List</h2>
        <table class="table" id="order-list-table">
            <thead>
            <tr>
                <th scope="col">ORDER ID</th>
                <th scope="col">ORDER CODE</th>
                <th scope="col">PAYMENT METHOD</th>
                <th scope="col">DELIVERY DATE</th>
                <th scope="col">DELIVERY DETAIL</th>
                <th scope="col">SHIPPING COST</th>
                <th scope="col">QUANTITY </th>
                <th scope="col">ODER STATUS</th>
                <th scope="col">ACCOUNT ID</th>
                <th scope="col">PRODUCT ID</th>
                <th scope="col">CREATED DATE</th>
                <th scope="col">MODIFIED DATE</th>
                <th scope="col">CREATED BY</th>
                <th scope="col">MODIFIED BY</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><b>#122349</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>

            </tr>
            <tr>
                <th scope="row"><b>#122348</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle pending">
                    </div>Pending
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122347</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle cancelled">
                    </div>Cancelled
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122346</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122345</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle pending">
                    </div>Pending
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122344</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle pending">
                    </div>Pending
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122343</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122342</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122341</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122340</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle cancelled">
                    </div>Cancelled
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            <tr>
                <th scope="row"><b>#122339</b></th>
                <td><b>ALKMU89EFF</b></td>
                <td><b>Credit card</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>dont break ma stuff</b></td>
                <td><b>$30</b></td>
                <td><b>6</b></td>
                <td>
                    <div class="tm-status-circle moving">
                    </div>Moving
                </td>
                <td><b>236447</b></td>
                <td><b>253649</b></td>
                <td><b>16:00, 12 NOV 2018</b></td>
                <td><b>16:00, 18 NOV 2018</b></td>
                <td><b>Minh Huy</b></td>
                <td><b>Huy Minh</b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>