<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mt-5" id="container" th:fragment="contentInit">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products tm-block-h-auto">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table display" id="post-manage-table">
                        <thead>
                        <tr>
                            <th scope="col">USER NAME</th>
                            <th scope="col">USER ID</th>
                            <th scope="col">POST NAME</th>
                            <th scope="col">DETAILS</th>
                            <th scope="col">POST TIME</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <td class="tm-user-name">Helen Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Female T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a
                        href="#"
                        class="btn btn-primary btn-block text-uppercase mb-3">Approve</a>
                <button class="btn btn-primary btn-block text-uppercase">
                    Reject
                </button>
            </div>
        </div>

    </div>
</div>
