<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container mt-5" id="container" th:fragment="contentInit">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products tm-block-h-auto">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table display" id="post-manage-table">
                        <thead>
                        <tr>
                            <th scope="col">POST ID</th>
                            <th scope="col">ACCOUNT NAME</th>
                            <th scope="col">PRODUCT NAME</th>
                            <th scope="col">EXPIRED DATE</th>
                            <th scope="col">REASON</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tm-user-id">HK110</td>
                            <td class="tm-user-name">Harry Kane</td>
                            <td>White Male T-Shirt 1</td>
                            <td>May 5th, 2020</td>
                            <td>none</td>
                            <td>
                                <a href="#" class="tm-product-update-link">
                                    <i class="fas fa-check" style="color: white"></i>
                                </a>
                                <a href="#" class="tm-product-delete-link">
                                    <i class="fas fa-trash-alt" style="color: white"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
<!--                &lt;!&ndash; table container &ndash;&gt;-->
<!--                <a-->
<!--                        href="#"-->
<!--                        class="btn btn-primary btn-block text-uppercase mb-3">Approve</a>-->
<!--                <button class="btn btn-primary btn-block text-uppercase">-->
<!--                    Reject-->
<!--                </button>-->
            </div>
        </div>

    </div>
</div>