<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- CSS common -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" th:href="@{/static/css/fontawesome.min.css}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{/static/css/templatemo-style.css}">
    <!-- CSS dataTable -->
    <link rel="stylesheet" th:href="@{/static/css/jquery.dataTables.min.css}">
    <script th:src="@{/static/js/datatables.js}"></script>

    <!-- CSS datepicker -->
    <link rel="stylesheet" th:href="@{/static/jquery-ui-datepicker/jquery-ui.min.css}" type="text/css" />
    <script rel="stylesheet" th:href="@{/static/js/jquery-3.6.0.js}" type="text/css"></script>
    <script rel="stylesheet" th:href="@{/static/jquery-ui-datepicker/jquery-ui.js}" type="text/css"></script>

</head>