<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="script">

<!-- script common -->
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<!-- https://jquery.com/download/ -->
<script th:src="@{/static/js/moment.min.js}"></script>
<!-- https://momentjs.com/ -->
<script th:src="@{/static/js/Chart.min.js}"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- https://getbootstrap.com/ -->
<script th:src="@{/static/js/tooplate-scripts.js}"></script>
<!-- script dataTable -->
<script th:src="@{/static/js/datatables.min.js}"></script>

<!-- script active navbar -->
<script th:if="${direction} == 'container/products'">
    $('#productsList').addClass("active");
    <!-- script dataTable -->
    $('#products-table').DataTable();
</script>
<script th:if="${direction} == 'container/accounts'">
    $('#accountList').addClass("active");
    <!-- script dataTable -->
    $('#accounts-table').DataTable();
</script>
<script th:if="${direction} == 'container/post-manage'">
    $('#postManagement').addClass("active");
    <!-- script dataTable -->
    $('#post-manage-table').DataTable();
</script>
<script th:if="${direction} == 'container/order-list-manage'">
    $('#orderList').addClass("active");
    <!-- script dataTable -->
    $('#order-list-table').DataTable();
</script>
<script th:if="${direction} == 'container/news'">
    $('#newsList').addClass("active");
    <!-- script dataTable -->
    $('#news-table').DataTable();
</script>
<script th:if="${direction} == 'container/notification-manage'">
    $('#notificationList').addClass("active");
</script>
<script th:if="${direction} == 'container/create-account'">
    $('#accountList').addClass("active");
</script>
<script th:if="${direction} == 'container/add-product'">
    $('#productsList').addClass("active");
</script>
<script th:if="${direction} == 'container/edit-product'">
    $('#productsList').addClass("active");
</script>
<script th:if="${direction} == 'container/update-user'">
    $('#accountList').addClass("active");
</script>

<!-- script chart -->
<script th:if="${direction} == 'container/init'">
    Chart.defaults.global.defaultFontColor = 'white';
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart,
    barChart, pieChart;
    // DOM is ready
    $(function () {
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart

        $(window).resize(function () {
            updateLineChart();
            updateBarChart();
        });
    })

</script>

<!-- script datepicker -->
<script th:if="${direction} == 'container/add-product'">
    $(function() {
        $("#expire_date").datepicker();
    });
</script>
<script th:if="${direction} == 'container/add-product'" th:src="@{/static/jquery-ui-datepicker/jquery-ui.min.js}"></script>

<script th:if="${direction} == 'container/edit-product'">
    $(function() {
        $("#expire_date").datepicker();
    });
</script>
<script th:if="${direction} == 'container/edit-product'" th:src="@{/static/jquery-ui-datepicker/jquery-ui.min.js}"></script>

</body>