.custom-col {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    border: #333;
    text-align: right;
    right: 10px;
}

.custom-report {
    width: 25%;
    position: relative;
}

.custom-btn {
    color: #195236;
    background-color: #088afe;
    border-color: #6c757d solid;
    position: relative;
}

.custom-bottom {
    margin-bottom: 70px;
}