<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/header :: header"></head>

<body id="reportsPage">
<div class="" id="home">
    <nav th:replace="components/navbar :: narbar"></nav>

    <div th:replace="${direction} :: contentInit"></div>

    <footer th:replace="components/footer :: footer"></footer>
</div>

<script th:replace="components/script :: script"></script>

<script th:if="${direction} == 'container/init'">
    Chart.defaults.global.defaultFontColor = 'white';
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function () {
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart

        $(window).resize(function () {
            updateLineChart();
            updateBarChart();
        });
    })

</script>
</body>

</html>