<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products tm-block-h-auto">
                <div class="row tm-content-row">
                    <div class="col-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                            <div class="form-group mb-3">
                                <input
                                        id="search"
                                        name="search"
                                        type="search"
                                        placeholder="Search"
                                        class="form-control text-white bg-dark"
                                />
                                <input
                                        type="submit"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">USER NAME</th>
                            <th scope="col">USER ID</th>
                            <th scope="col">POST NAME</th>
                            <th scope="col">DETAILS</th>
                            <th scope="col">POST TIME</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        <tr>
                            <th scope="row"><input type="checkbox" /></th>
                            <td class="tm-user-name">Harry Kane</td>
                            <td class="tm-user-id">HK110</td>
                            <td>White Male T-Shirt 1</td>
                            <td>Made by ABC</td>
                            <td>28 March 2019</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a
                        href="#"
                        class="btn btn-primary btn-block text-uppercase mb-3">Approve</a>
                <button class="btn btn-primary btn-block text-uppercase">
                    Reject
                </button>
            </div>
        </div>

    </div>
</div>
